# Populated by `npm run load-outputs` after ARM deploy
AZURE_RESOURCE_GROUP=aks-microservice-rg
AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
AKS_CLUSTER_NAME=aks-microservice
APP_CLIENT_ID=
EXTERNAL_DNS_CLIENT_ID=
MONITOR_CLIENT_ID=
DOMAIN=api.aks-microservice-demo.dev
APP_IMAGE=nginxinc/nginx-unprivileged:stable
