# Populated by `just load-outputs` after CF deploy
APP_ROLE_ARN=
EXTERNAL_DNS_ROLE_ARN=
FLUENT_BIT_ROLE_ARN=
ADOT_ROLE_ARN=
HOSTED_ZONE_ID=
# Populated by `just deploy-cert` after NS delegation
ALB_CERT_ARN=
DOMAIN=api.eks-microservice-demo.dev
EKS_CLUSTER_NAME=eks-microservice
AWS_REGION=us-east-1
APP_IMAGE=nginxinc/nginx-unprivileged:stable
