# Populated by `just load-outputs` after CF deploy
APP_ROLE_ARN=
EXTERNAL_DNS_ROLE_ARN=
FLUENT_BIT_ROLE_ARN=
ADOT_ROLE_ARN=
ALB_CERT_ARN=
DOMAIN=api.example.com
EKS_CLUSTER_NAME=eks-microservice
AWS_REGION=us-east-1
APP_IMAGE=public.ecr.aws/nginx/nginx:stable
