name: publish

on:
  push:
    tags: ['v*']

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run --cwd lexicons/aws prepack
      - run: bun run --cwd lexicons/gitlab prepack
      - run: bun test

  publish:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc

      - name: Publish @intentius/chant
        working-directory: packages/core
        run: bun publish --access public --tolerate-republish

      - name: Publish @intentius/chant-lexicon-aws
        working-directory: lexicons/aws
        run: bun publish --access public --tolerate-republish

      - name: Publish @intentius/chant-lexicon-gitlab
        working-directory: lexicons/gitlab
        run: bun publish --access public --tolerate-republish
